*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}

										/*<---------- HEADER HEADER HEADER ---------->*/

header{
	width: 100%;
	background: #111;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	cursor: pointer;
	margin-top: 60px;
	margin-left: 12%;
	margin-bottom: 30px;
}
nav{
	margin-top: 70px;
	margin-left: 25%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 12px 10px;
	font-size: 18px;
	text-transform: uppercase;
}
.topnav a:hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
}

										/*<---------- MAIN MAIN MAIN ---------->*/

main {
	display: flex;
	flex-direction: column; 
	width: 100%;
}
main .main__welcome {
	text-align: center;
	padding: 200px 0 326px 0; 
	background: url(../img/Background.jpg) center center;
}
main .main__welcome p{
	color: #FFF;
	font-size: 20px;
}
main .main__welcome h1{
	color: #FFF;
	font-size: 44px;
	text-transform: uppercase;
}
main .main__welcome h1:after {
	display: none;
}
.mycompany {
	color: #fcac45;
	font-weight: 700;
}
.wrapper {
	width: 76%;
	margin: 0 auto;
}

										/*<---------- ABOUT ABOUT ABOUT ---------->*/

main .main__about{
	display: flex;
	padding: 100px 0 100px 0;
}
.about__right{
	margin-left: 10%;
	flex: 3;
}
.about__right h1{
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-size: 28px;
}
.about__right h1:after {
	display: none;
}
.about__right p{
	margin: 30px 0 50px 0;
	color: #6c6c6c;
}
.about__right li{
	background: url(../img/mark.png) 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
}
.about__right__about {
	font-style: italic;
	color: #5a5a5a;
}
.about__left {
	flex: 4;
}
iframe {
	padding: auto;
	width: 100%;
	height: 100%;
}

										/*<---------- TEAM TEAM TEAM ---------->*/

.main__team{
	background: #111;
	text-align: center;
	padding: 100px 0 100px 0;
	color: #fff;
}
.photo img{
	height: 120px;
	width: 120px;
	margin: 30px auto;
	opacity: 0.9;
}
.our__team{
	margin-top: 50px;
	display: flex;
}
.card{
	margin: 0 30px;
}
.name{
	font-size: 20px;
	margin-bottom: 7px;
}
.position{
	font-size: 16px;
	margin-bottom: 35px;
}
.about__position{
	font-size: 14px;
}

										/*<---------- SERVICES SERVICES SERVICES ---------->*/

.main__services {
	background: #fff;
	text-align: center;
	padding: 100px 0 100px 0;
	color: #000;
}
.our-services-text {
	margin-top: 50px;
	padding-bottom: 100px;
	color: #6c6c6c;
	font-style: italic;
}
.image {
	margin: 20px auto;
}
.our-services {
	display: flex;
}
.service {
	margin: 0 40px;
}

										/*<---------- CLIENTS CLIENTS CLIENTS ---------->*/

.main__clients {
	background: #111;
	text-align: center;
	padding: 100px 0 100px 0;
	color: #fff;
}
.our__clients {
	display: flex;
	margin-top: 50px;
}
.our__clients img {
	margin: 15px auto;
}
.our__clients img:hover {
	opacity: 0.6;
}

										/*<---------- WORK WORK WORK ---------->*/

.main__works {
	background: #fff;
	text-align: center;
	padding: 100px 0 100px 0;
	color: #000;
}
.our-works-text {
	margin-top: 50px;
	padding-bottom: 100px;
	color: #6c6c6c;
	font-style: italic;
}
.portfolio__item1 {
  grid-area: item1;
}
.portfolio__item2 {
  grid-area: item2;
}
.portfolio__item3 {
  grid-area: item3;
}
.portfolio {
	display: grid;
	grid-template: repeat(3, 1fr)/repeat(4, 1fr);
	grid-gap: 10px;
}
.portfolio div {
 	background: #111;
 	color: #fff;
 	text-transform: uppercase;
 	padding: 70px 0 70px 0;
 	font-size: 20px;
}
.portfolio div:nth-child(1) {
 	grid-column: 1/3;
}
.portfolio div:nth-child(2) {
 	grid-column: 3/5;
 	grid-row: 1/3;
 	padding: 155px 0 155px 0;
}
.portfolio div:nth-child(3) {
 	grid-column: 1/3;
}

										/*<---------- TESTIMONIALS TESTIMONIALS TESTIMONIALS ---------->*/

.main__testimonials {
	background: #111;
	padding: 100px 0 100px 0;
	color: #fff;
	text-align: center;
}
.testimonials__text {
	margin-top: 50px;
	text-transform: uppercase;
}
.testimonials__text2 {
	color: #b2b2b2;
	padding-top: 50px;
}

										/*<---------- FORM FORM FORM ---------->*/

.contact__form {
	background: #fff;
	padding: 70px 0 70px 0;
}
.contact__form__information {
	margin: 30px 0 50px 0;
	color: #6c6c6c;
	text-align: center;
	font-style: italic;
}
.contact__wrapper {
	width: 753px;
	margin: 0 auto;
	color: #636363;
}
.form__inputs {
	margin-top: 100px;
	display: flex;
}
input {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}
input:first-of-type {
	margin-right: 28px;
}
textarea {
	width: 100%;
	height: 163px;
}
input, textarea{
	border: 1px solid #999999;
	margin-top: 5px;
}
.button__block {
	display: flex;
	justify-content: flex-end;
}
input[type=submit] {
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0;
	margin-top: 20px;
}

										/*<---------- FOOTER FOOTER FOOTER ---------->*/

footer {
	width: 100%;
	height: auto;
	background: #111;
	padding: 30px 0 30px 0;
}
.social__networks {
	display: flex;
	justify-content: center;
}
.network {
	margin: 0 10px;
}
.network:hover {
	opacity: 0.6;
}

										/*<---------- DIFFERRENT DIFFERRENT DIFFERRENT ---------->*/

.black__h1{
	font-size: 44px;
	padding-bottom: 30px;
	text-align: center;
	color: #000;
	text-transform: uppercase;
}
.white__h1{
	font-size: 44px;
	padding-bottom: 30px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
h1:after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}
























